[submodule "third_party/mysql-server"]
	path = third_party/mysql-server
	url = https://github.com/mysql/mysql-server.git
	ignore = dirty
[submodule "third_party/LineairDB"]
	path = third_party/LineairDB
	url = https://github.com/Noxy3301/LineairDB.git
	branch = research/ordo
	ignore = dirty
[submodule "third_party/benchbase"]
	path = third_party/benchbase
	url = https://github.com/cmu-db/benchbase.git
	ignore = dirty
