global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 100000
    nbthread 48
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

defaults
    log     global
    mode    tcp
    option  tcplog
    option  tcpka
    option  dontlognull
    timeout connect 5s
    timeout client  180s
    timeout server  180s

# ------------------------------
# MySQL frontend
# ------------------------------
frontend mysql_front
    bind *:3307
    default_backend mysql_back

# ------------------------------
# MySQL backend (LineairDB/Ordo front)
# ------------------------------
backend mysql_back
    mode tcp
    balance leastconn

{% for host in groups['mysql'] %}
    server {{ host }} {{ hostvars[host].private_ip }}:3307 check
{% endfor %}

# ------------------------------
# HAProxy stats
# ------------------------------
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:password
