---
- hosts: haproxy
  become: true
  gather_facts: false
  tasks:
    - name: Install haproxy
      apt:
        name: haproxy
        state: present
        update_cache: yes

    - name: Deploy haproxy.cfg (MySQL L4 health checks)
      template:
        src: templates/haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg
        owner: root
        group: root
        mode: "0644"
      notify: Restart haproxy

    - name: Show HAProxy stats URL
      debug:
        msg: "HAProxy stats: http://{{ hostvars[inventory_hostname].ansible_host }}:8404/stats"
      run_once: true

  handlers:
    - name: Restart haproxy
      systemd:
        name: haproxy
        state: restarted
        daemon_reload: true
