---
- hosts: lineairdb
  gather_facts: false
  tasks:
    - name: Start LineairDB-Server
      shell: |
        cd ~/ordo
        ./scripts/stop_ordo.sh
        ./scripts/build_partial.sh
        ./scripts/start_ordo.sh
      args:
        executable: /bin/bash

- hosts: mysql
  gather_facts: false
  tasks:
    - name: Start MySQL with LineairDB-Proxy
      shell: |
        cd ~/ordo
        ./scripts/stop_mysql.sh
        ./scripts/build_partial.sh
        ./scripts/start_mysql.sh \
          --mysqld-port 3307 \
          --ordo-host {{ hostvars['lineairdb-1'].private_ip }} \
          --ordo-port 9999
      args:
        executable: /bin/bash

    - name: apply bench/setup.sql
      shell: |
        ~/ordo/build/runtime_output_directory/mysql \
          -u root --protocol=TCP -h 127.0.0.1 -P 3307 \
          < ~/ordo/bench/setup.sql
      args:
        executable: /bin/bash

    # Note: BenchBase connects directly to each MySQL for setup to avoid DDL sync issues via HAProxy.
    - name: Create HAProxy and BenchBase access users
      shell: |
        ~/ordo/build/runtime_output_directory/mysql \
          -u root --protocol=TCP -h 127.0.0.1 -P 3307 \
          -e "CREATE USER IF NOT EXISTS 'haproxy_check'@'%' IDENTIFIED WITH mysql_native_password BY '';
              GRANT USAGE ON *.* TO 'haproxy_check'@'%';
              CREATE USER IF NOT EXISTS 'root'@'{{ hostvars['haproxy-1'].private_ip }}' IDENTIFIED WITH mysql_native_password BY '';
              GRANT ALL PRIVILEGES ON *.* TO 'root'@'{{ hostvars['haproxy-1'].private_ip }}' WITH GRANT OPTION;
              CREATE USER IF NOT EXISTS 'root'@'{{ hostvars['bench-1'].private_ip }}' IDENTIFIED WITH mysql_native_password BY '';
              GRANT ALL PRIVILEGES ON *.* TO 'root'@'{{ hostvars['bench-1'].private_ip }}' WITH GRANT OPTION;
              FLUSH PRIVILEGES;"
      args:
        executable: /bin/bash

- hosts: haproxy
  become: true
  gather_facts: false
  tasks:
    - name: Install haproxy
      apt:
        name: haproxy
        state: present
        update_cache: yes

    - name: Deploy haproxy.cfg (MySQL L4 health checks)
      template:
        src: templates/haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg
        owner: root
        group: root
        mode: "0644"
      notify: Restart haproxy

    - name: Show HAProxy stats URL
      debug:
        msg: "HAProxy stats: http://{{ hostvars[inventory_hostname].ansible_host }}:8404/stats"
      run_once: true

  handlers:
    - name: Restart haproxy
      systemd:
        name: haproxy
        state: restarted
        daemon_reload: true

- hosts: benchbase
  gather_facts: false
  tasks:
    - name: Setup BenchBase (download/build once)
      shell: |
        cd ~/ordo/bench
        bash ./setup_benchbase.sh
      args:
        executable: /bin/bash

    - name: BenchBase --create on each MySQL
      shell: |
        BENCH_DIR=~/ordo/bench
        JAR="$BENCH_DIR/benchbase/benchbase-mysql/benchbase.jar"
        CFG="$(mktemp)"
        sed "s#localhost:3307#{{ hostvars[item].private_ip }}:3307#g" "$BENCH_DIR/config/ycsb.xml" > "$CFG"
        (cd "$BENCH_DIR/benchbase/benchbase-mysql" && java -jar "$JAR" -b ycsb -c "$CFG" --create=true --load=false --execute=false)
      args:
        executable: /bin/bash
      loop: "{{ groups['mysql'] }}"

    - name: BenchBase --load once (first MySQL)
      shell: |
        BENCH_DIR=~/ordo/bench
        JAR="$BENCH_DIR/benchbase/benchbase-mysql/benchbase.jar"
        CFG="$(mktemp)"
        sed "s#localhost:3307#{{ hostvars[groups['mysql'][0]].private_ip }}:3307#g" "$BENCH_DIR/config/ycsb.xml" > "$CFG"
        (cd "$BENCH_DIR/benchbase/benchbase-mysql" && java -jar "$JAR" -b ycsb -c "$CFG" --create=false --load=true --execute=false)
      args:
        executable: /bin/bash

    - name: Show manual run_dist commands (bench -> HAProxy)
      debug:
        msg:
          - "SSH to bench:"
          - "  ssh -i {{ ansible_ssh_private_key_file }} {{ ansible_user }}@{{ hostvars['bench-1'].ansible_host }}"
          - "Then run on bench:"
          - "  cd ~/ordo"
          - "  ./scripts/run_dist.sh --profile b --time 30 --rate 0 --scalefactor 10 --mysql-host {{ hostvars['haproxy-1'].private_ip }} --mysql-port 3307"
      run_once: true
