---
- hosts: lineairdb
  gather_facts: false
  tasks:
    - name: Start LineairDB-Server
      shell: |
        cd ~/ordo
        ./scripts/stop_ordo.sh
        ./scripts/build_partial.sh
        ./scripts/start_ordo.sh
      args:
        executable: /bin/bash

- hosts: mysql
  gather_facts: false
  tasks:
    - name: Start MySQL with LineairDB-Proxy
      shell: |
        cd ~/ordo
        ./scripts/stop_mysql.sh
        ./scripts/build_partial.sh
        ./scripts/start_mysql.sh \
          --mysqld-port 3307 \
          --ordo-host {{ hostvars['lineairdb-1'].private_ip }} \
          --ordo-port 9999
      args:
        executable: /bin/bash

    - name: Create HAProxy access users
      shell: |
        ~/ordo/build/runtime_output_directory/mysql \
          -u root --protocol=TCP -h 127.0.0.1 -P 3307 \
          -e "CREATE USER IF NOT EXISTS 'haproxy_check'@'%' IDENTIFIED WITH mysql_native_password BY '';
              GRANT USAGE ON *.* TO 'haproxy_check'@'%';
              CREATE USER IF NOT EXISTS 'root'@'{{ hostvars['haproxy-1'].private_ip }}' IDENTIFIED WITH mysql_native_password BY '';
              GRANT ALL PRIVILEGES ON *.* TO 'root'@'{{ hostvars['haproxy-1'].private_ip }}' WITH GRANT OPTION;
              FLUSH PRIVILEGES;"
      args:
        executable: /bin/bash

- hosts: haproxy
  become: true
  gather_facts: false
  tasks:
    - name: Install haproxy
      apt:
        name: haproxy
        state: present
        update_cache: yes

    - name: Deploy haproxy.cfg (MySQL L4 health checks)
      template:
        src: templates/haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg
        owner: root
        group: root
        mode: "0644"
      notify: Restart haproxy

    - name: Show HAProxy stats URL
      debug:
        msg: "HAProxy stats: http://{{ hostvars[inventory_hostname].ansible_host }}:8404/stats"
      run_once: true

  handlers:
    - name: Restart haproxy
      systemd:
        name: haproxy
        state: restarted
        daemon_reload: true
